.vscode/*
*__pycache__*

# Datasets zipped and unpacked are ommited due to their size
zipped_dataset/*
dataset/

images/backgrounds/

images/scans/data/annotations/
images/scans/data/contours/
images/scans/data/labeled/
images/scans/data/output/

images/scans/test/annotations/
images/scans/test/contours/
images/scans/test/labeled/
images/scans/test/output/

*class_mapping.json